/* цвет основного текста #000000 */
/* вторичный цвет текста  rgba(0, 0, 0, 0.8);
 */
/* белый #FFFFFF  */
/* акцент #18A0FB */
/* вторичный цвет фона #F5F5F5; */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: -0.03em;
}
.link-decoration-disable {
  text-decoration: none;
}
/* Logo */

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo:hover {
  color: var(--accent-color);
}
/*Оформление части логотипа в отличный от основного цвета*/
.logo-part1 {
  color: var(--title-text-color);
}
.logo-part2 {
  color: var(--primary-white-color);
}
.active-page {
  color: var(--accent-color);
}
.unactive-page {
  color: var(--primary-text-color);
}

/* Site nav */

.site-nav .link,
.site-address .link {
  /*color: var(--primary-text-color);*/
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
/*удаление маркеровки списков*/
.list {
  list-style: none;
}

.address-style {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.address-style:hover,
.address-style:focus {
  color: var(--accent-color);
}

/* Hero */

.hero-title {
  color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */

.section-title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.section-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  /* or 171% */
  letter-spacing: 0.03em;

  color: #757575;
}

.section-title-folio {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}

.section-description-folio {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}

/* Features и Examples */

.feature-list-title,
.work-list-title {
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.work-list-title2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  /* identical to box height */
  text-align: left;
  letter-spacing: 0.03em;
  color: #212121;
}

.name-description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  /* identical to box height */
  text-align: left;
  letter-spacing: 0.03em;
  color: #757575;
}

/*++++++++++footter+++++++++++++++*/
/*портфолио-подвал-оформление адреса и телефона*/
.footer-description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 714;
  /* or 171% */
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-description:hover,
.footer-description:focus {
  color: var(--accent-color);
}
/*Портфолио-подвал-оформление заголовка*/
.footer-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 714;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

/*Установка темного фона на страницах*/
.fon-background {
  background-color: #2f303a;
}

/* Button */
/*Кнопка для страниці Студия*/
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  border-radius: 2px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

/*Кнопки для страницы Портфолио*/
.button-portfolio {
  color: var(--primary-white-color);
  background-color: #f5f4fa;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  border-radius: 2px;
  padding: 3px 5px;
}
/*Кнопки для страницы Портфолио при наведении*/
.button-portfolio:focus,
.button-portfolio:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

/*скрытие заголовка*/
.is-hidden {
  display: none;
}
